* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  color: hsl(24, 3%, 37%);
}

.main {
  background-color: hsl(29, 53%, 90%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.card {
  width: 50rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2.5rem;
  border-radius: 1.2rem;
  margin-bottom: 5rem;
    margin-top: 5rem;
}
.first {
  display: flex;
  flex-direction: column;
}
.image img {
  width: 100%;
  border-radius: 1rem;
}
h1 {
  font-family: "Young Serif", serif;
  padding: 1.2rem 0 0.7rem 0;
  color: hsl(40, 3%, 17%);
}
.first p {
  font-size: 1rem;
}
h2 {
  font-family: "Young Serif", serif;
  color: hsl(10, 37%, 36%);
  padding: 1.3rem 0.5rem 1.3rem 0;
}
h3 {
  color: hsl(334, 43%, 31%);
}
.preparation {
  display: flex;
  flex-direction: column;
  background-color: hsl(322, 100%, 98%);
  margin-top: 2rem;
  padding: 1.4rem;
  border-radius: 1rem;
}
.preparation ul {
  padding-left: 1.7rem;
  line-height: 2rem;
}
.ingredients {
  padding: 1rem 0 1.3rem 0;
}
.ingredients ul {
  padding-left: 1.7rem;
  line-height: 2rem;
}
.instructions {
  padding: 1rem 0 1.1rem 0;
}
.instructions ol {
  padding-left: 1.7rem;
}
.instructions ol li {
  margin-bottom: 1rem;
  line-height: 1.3rem;
}
table {
  border-collapse: collapse;
}
td {
  border-bottom: 2px solid hsl(0, 0%, 88%);
  padding: 0.6rem;
}
.instructions li::marker {
  color: hsl(10, 37%, 36%);
}
hr {
  border: 1px solid hsl(0, 0%, 88%);
}
.nutritions {
  padding: 1rem 0 1rem 0;
}
.value {
  color: hsl(10, 37%, 36%);
  font-weight: 700;
}
@media (max-width: 880px) {
  .card{
    margin-top: 0;
      margin-bottom: 0;
  }
  .image img { border-radius: 0;}
.card {
  padding: 0;
}
.container{
  padding: 2rem;
}
}